\documentclass[position]{scrlttr2}
\usepackage[ngerman]{babel}
\usepackage[utf8]{inputenc}
\usepackage{marvosym}
\DeclareUnicodeCharacter{20AC}{\EUR{}}
\usepackage{graphicx,xcolor,eso-pic,tabularx}
\usepackage{verbatimbox}
\begin{document}
((* for prerendered_letter in prerendered_letters *))
((( prerendered_letter )))
((* endfor *))
\end{document}
