\begin{letter}{((( recipient|escape_tex|escape_nl )))}
\setkomavar{signature}{((( signature|escape_tex|escape_nl )))}
\setkomavar{date}{((( date )))}
\setkomavar{subject}{((( subject|escape_tex|escape_nl )))}
\opening{((( opening|escape_tex|escape_nl )))}

((( text )))

\closing{ ((( closing|escape_tex|escape_nl ))) }
\end{letter}
