\begin{letter}{((( recipient|escape_tex|escape_nl )))}
\setkomavar{signature}{((( signature|escape_tex|escape_nl )))}
\setkomavar{date}{((( date )))}
\setkomavar{subject}{((* block subject *))Betreff((* endblock subject *))}
\opening{((( opening|escape_tex|escape_nl ))),}

((* block content *))
Dies ist eine Nachricht.
((* endblock content *))

\closing{ ((( closing|escape_tex|escape_nl ))),}
\end{letter}
